<!DOCTYPE html>
<html>
<head lang="en">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
    <title>地址管理</title>
    <link rel="stylesheet" href="css/mall.css" type="text/css" />
</head>
<body>
<div class="mall_main">
<div id="child_header">
    <div class="current_location"><span>地址管理</span></div>
    <div class="next_operate"><a href="address_add.html"><span>新增地址</span></a></div>
</div>
    <div id="app">
        <div v-for="(address, index) in addresses" :key="index" class="address_list">
            <div class="list_left">
                <p class="pw1">{{ address.name }}</p>
                <p class="pw1">{{ address.phone }}</p>
                <p class="pw2">{{ address.address }}</p>
                <a href="address_edit.html" class="list_right"><img src="img/change_adr.png"></a>
            </div>
            <a class="default_adr">
                <input type="radio" :id="'default_adr' + index" :name="'default_adr'" v-model="defaultAddress" :value="address">
                设为默认地址
            </a>
        </div>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                addresses: [],
                defaultAddress: null
            },
            mounted() {
                axios.get('address/getAll')
                    .then(response => {
                        this.addresses = response.data.data;
                    })
                    .catch(error => {
                        console.log(error);
                    });
            },
            watch: {
                defaultAddress(newAddress, oldAddress) {
                    axios.put('/api/default_address', { address: newAddress })
                        .then(response => {
                            console.log(response.data.data);
                        })
                        .catch(error => {
                            console.log(error);
                        });
                }
            }
        });
    </script>
</body>
</html>