<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div id="app">
  <h1>Chat App</h1>

  <div v-if="!loggedIn">
    <label for="username">Username:</label>
    <input type="text" id="username" v-model="username">
    <button @click="login">Log in</button>
  </div>

  <div v-else>
    <label for="recipientId">Recipient ID:</label>
    <input type="text" id="recipientId" v-model="recipientId">
    <label for="message">Message:</label>
    <input type="text" id="message" v-model="message">
    <button @click="send">Send</button>
    <button @click="logout">Log out</button>
  </div>

  <div v-for="msg in messages" :key="msg.id">
    <p><strong>{{ msg.sender }}</strong> to <strong>{{ msg.recipient }}</strong>: {{ msg.text }}</p>
  </div>
</div>

<script src="js/vue.js"></script>
<script src="js/axios-0.18.0.js"></script>

<script>
  // app.js
  const app = new Vue({
    el: '#app',
    data: {
      loggedIn: false,
      username: '',
      userId: '',
      recipientId: '',
      message: '',
      messages: []
    },
    methods: {
      login() {
        axios.post('/chat?action=login', {
          username: this.username
        }).then(response => {
          this.userId = response.data;
          this.loggedIn = true;
          this.startPolling();
        }).catch(error => {
          console.error(error);
        });
      },
      logout() {
        axios.delete('/chat').then(response => {
          this.loggedIn = false;
          this.userId = '';
          this.stopPolling();
        }).catch(error => {
          console.error(error);
        });
      },
      send() {
        axios.post('/chat?action=send', {
          recipientId: this.recipientId,
          message: this.message
        }).then(response => {
          this.message = '';
        }).catch(error => {
          console.error(error);
        });
      },
      startPolling() {
        this.pollingIntervalId = setInterval(() => {
          axios.get('/chat?action=poll').then(response => {
            this.messages = response.data;
          }).catch(error => {
            console.error(error);
          });
        }, 1000);
      },
      stopPolling() {
        clearInterval(this.pollingIntervalId);
      }
    }
  });

</script>


</body>
</html>