<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link href="css/login.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
</head>

<body>
<div id="app" style="height: 350px">
    <form @submit.prevent="login">
        <h1 id="loginMsg">LOGIN IN</h1>
        <p>Username:<input id="username" name="username" type="text" v-model="user.username"></p>
        <p>Password:<input id="password" name="password" type="password" v-model="user.password"></p>
        <p>Remember:<input id="remember" name="remember" type="checkbox" v-model="remember"></p>
        <div id="subDiv">
            <input type="submit" class="button" value="login up">
            <input type="reset" class="button" value="reset">&nbsp;&nbsp;&nbsp;
            <a href="register.html">没有账号？</a>
        </div>
    </form>
</div>

<script>
    new Vue({
        el: '#app',
        data: {
            user: {
                username: '',
                password: '',
            },
            login_msg: '',
            remember:false
        },
        methods: {
            login() {
                axios({
                    method:'post',
                    url:'user/login',
                    params:{
                        username: this.user.username,
                        password: this.user.password,
                        remember: this.remember
                    }
                }).then(function (response) {
                        if (response.data.code === 10000) {
                            alert("登陆成功");
                            if(cookie.username.value && cookie.password.value) {
                                document.getElementById('username').innerHTML = cookie.username.value;
                                document.getElementById('password').innerHTML = cookie.password.value;
                            }
                        } else if (response.data.msg === '输入错误已超过三次，请在一分钟后重试') {
                            alert(response.data.msg + '，请60秒后再次输入用户名及密码进行登录验证');
                            // 禁用输入框
                            document.getElementById('username').disabled = true;
                            document.getElementById('password').disabled = true;
                            // 等待 1 分钟
                            setTimeout(function () {
                                // 启用输入框
                                document.getElementById('username').disabled = false;
                                document.getElementById('password').disabled = false;
                            }, 60000); // 60 秒
                        }
                    })
                    .catch(function (error) {
                        console.log(error);
                        alert(error.response.data.message);
                    });
            }
        }
    });

</script>
</body>
</html>