<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎注册</title>
    <link href="css/register.css" rel="stylesheet">
</head>
<body>

<div class="form-div">
    <div class="reg-content">
        <h1>欢迎注册</h1>
        <span>已有帐号？</span> <a href="user_login.html">登录</a>
    </div>
    <div id="app">
    <form @submit.prevent="submitForm">

        <table>

            <tr>
                <td>电话号码</td>
                <td class="inputs">
                    <input name="phoneNum" type="text" id="phoneNum" v-model="user.phoneNum" required>
                    <br>
                    <span id="phoneNum_err" class="err_msg" style="display: none">电话号码格式有误</span>
                </td>

            </tr>

            <tr>
                <td>密码</td>
                <td class="inputs">
                    <input name="password" type="password" id="password" v-model="user.password" required>
                    <br>
                    <span id="password_err" class="err_msg" style="display: none">密码格式有误,密码长度为8-18位字符，且必须同时包含字母、数字和特殊字符（!@#$%^&*_-）</span>
                </td>
            </tr>

            <tr>
                <td>确认密码</td>
                <td class="inputs">
                    <input name="confirmPassword" type="password" id="confirmPassword" v-model="confirmPassword" required>
                    <br>
                    <span id="confirmPassword_err" class="err_msg" style="display: none">密码格式有误</span>
                </td>
            </tr>


            <tr>
                <td>验证码</td>
                <td class="inputs">
                    <input name="checkCode" type="text" id="checkCode" v-model="checkCode" required>
                    <img id="checkCodeImg":src="checkCodeImageUrl">
                    <a href="#" id="changeImg" @click.prevent="changeImage()">看不清？</a>
                </td>
            </tr>

        </table>

        <div class="buttons">
            <input value="注 册" type="submit" id="reg_btn">
        </div>
        <br class="clear">
    </form>
    </div>

</div>

<script src="js/vue.js"></script>
<script src="js/axios-0.18.0.js"></script>

<script>
    new Vue({
        el: '#app',
        data: {
            user: {
                phoneNum: '',
                password: '',
            },
            confirmPassword: '',
            checkCode: '',
            checkCodeImageUrl: 'user/checkCode',
            phoneNumRegex: /^1[3456789]\d{9}$/,
            passwordRegex: /^(?=.*[a-zA-Z])(?=.*\d)(?=.*[!@#$%^&*_-])[a-zA-Z\d!@#$%^&*_-]{8,18}$/,//密码长度为8-18位字符，且必须同时包含字母、数字和特殊字符（!@#$%^&*_-）
        },
        watch: {
            'user.phoneNum': function (newVal) {
                if (!this.phoneNumRegex.test(newVal)) {
                    document.getElementById('phoneNum_err').style.display = 'block';
                } else {
                    document.getElementById('phoneNum_err').style.display = 'none';
                }
            },
            'user.password': function (newVal) {
                if (!this.passwordRegex.test(newVal)) {
                    document.getElementById('password_err').style.display = 'block';
                } else {
                    document.getElementById('password_err').style.display = 'none';
                }
            }
        },
        methods: {
            changeImage() {
                this.checkCodeImageUrl = 'user/checkCode?' + new Date().getTime();
            },
            submitForm() {
                if (this.user.password !== this.confirmPassword) {
                    alert("两次输入的密码不一致");
                    location.reload(); // 重新加载页面
                    return;
                }

                axios.post('user/register?checkCode=' + this.checkCode, {
                    nickname: this.user.nickname,
                    password: this.user.password,
                }, {
                    headers: {
                        'Content-Type': 'application/json'
                    }
                })
                    .then(function(response){
                        if (response.data.code === 10000) {
                            alert("注册成功");
                            window.location.href = 'login.html';
                        } else {
                            alert(response.data.msg);
                        }
                    })
                    .catch(function (error) {
                        alert(error.response.data.msg);
                        location.reload(); // 重新加载页面
                    });
            },
            validatePhoneNumber(phoneNumber) {
            var regex = /^\d{11}$/;
            return regex.test(phoneNumber);
            },
    }
    });
</script>

</body>
</html>